.moveUp {
  transform: translateX(100vh);
}

body {
  position: relative;
  width: 100%;
}

p {
  font-family: "Courier New", "monospace";
}
#carlos {
  align-items: center;
}

#heinz {
}
.imgs {
  position: relative;
  height: 50vh;
  width: auto;
}
